html {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

body {
    position:absolute;
    height:100vh;
    width:100vw;
}

body p {
    font-size: 18px;
}

hr {
    border: 0;
    height: 0.5px;
    background:rgb(139,172,218,0.25);
}

.card {
    position:absolute;
    background-color: hsl(216, 50%, 16%);
    width:300px;
    height:530px;
    border-radius: 2.5%;
}

.nft-image {
    width:100%;
    border-radius: 2.5%;
}
a.img-link:hover {
color: hsl(178, 50%, 50%);
}
a {
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}
a:hover {
    color: hsl(178, 100%, 50%);
}

.light-blue-thin {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.thick-white {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size:20px;
}

.cyan-text {
    color:hsl(178, 100%, 50%);
    font-weight: 600;
}

#author {
    font-weight:300;
}

#author:hover {
    color: hsl(178, 100%, 50%);
}

#avatar {
    width:30px;
    margin-right:10px;
    border: 0.05rem solid hsl(0, 0%, 100%);
    border-radius: 50%;
    vertical-align:middle;
}

.nft-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items:stretch;
    justify-content:stretch;
    margin: 7.5%;
    margin-bottom:5%;
    width:85%;
    height:92.5%;
}

.nft-box  div {
    margin-top: 10px;
    margin-bottom:10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.center-rel {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.nft-text {
    justify-content:flex-end;
}
.clickables:hover {
    color: hsl(178, 100%, 50%);
}

@media (max-width = 375px) {

}

.clickables {
    color: hsl(0, 0%, 100%);
}

.space-between {
    display:flex;
    justify-content:space-between;
}
#bigger-margin {
    margin-top: 20px;
    margin-bottom: 0px;
}
.align-text-center {
   
}

footer {
    position:absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, -2.5%);
}

#img-overlay {
    position:absolute;
    width:255px;
    height:255px;
    z-index:1;
    background-color: rgb(0,255,247,0);
    transition-property: all;
    transition-duration: 0.5s;
    padding: 0px;
    margin: 0px;
    border-radius: 2.5%;
}

#img-overlay:hover {
    background-color: rgb(0,255,247,0.5);
}

#img-overlay-icon {
    position:absolute;
    width:255px;
    height:255px;
    z-index:-1;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 0px;
    margin: 0px;
    border-radius: 2.5%;
}

#img-overlay img {
    position:absolute;
    z-index:2;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 0px;
    margin: 0px;
    border-radius: 2.5%;
}

#img-overlay:hover img {
    opacity: 1;
}
